@import url("webfontkit/stylesheet.css");
html,
body,
#map-canvas,
.fluid-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
h2 {
  text-align: center;
  font-size: 24px;
  font-family: 'akzidenz-grotesk_promedium';
  letter-spacing: 2px;
  color: #6600ff;
}
h3 {
  font-weight: 700;
  line-height: 30px;
  color: black;
}
a h3:hover {
  color: #6600FF;
}
h5 {
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}
h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h7 {
  font-size: 14px;
}
.subhead-line {
  border-bottom: 1px solid #6600FF;
  margin-bottom: 42px;
  width: 55%;
  height: 2px;
}
.container-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.page-container {
  position: absolute;
  background: transparent;
  height: 0px;
  width: 100%;
  top: 100px;
}
.view-bottom-spacer {
  height: 600px;
}
.page-container.expanded {
  height: 100%;
}
.page {
  position: absolute;
  background: transparent;
  width: 100%;
  overflow-y: scroll;
  top: 0px;
  bottom: 115px;
}
.page.ng-enter,
.page.ng-leave {
  -webkit-transition: opacity ease-in-out 0.5s;
}
.page.ng-enter {
  opacity: 0;
  transition-delay: 0.5s;
}
.page.ng-enter-active {
  opacity: 1;
}
.page.ng-leave {
  opacity: 1;
  transition-delay: 0s;
}
.page.ng-leave-active {
  opacity: 0;
}
.container-overlay h1 {
  font-size: 32px;
  font-family: 'akzidenz-grotesk_promedium';
  letter-spacing: 3px;
  text-decoration: none;
  margin-top: 4px;
  margin-bottom: 1px;
}
/*nav overrides*/
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  cursor: pointer;
  color: #6600FF;
}
.navbar-nav > li > a {
  padding-top: 9px;
}
.main-title {
  width: 100%;
  padding-top: 12px;
}
.navbar-nav.nav-justified > li {
  float: none;
}
.nav-bg {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.navbar {
  height: 100px;
  -webkit-transition: all ease-in-out 1.2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 35px 0px;
}
.navbar.expanded {
  height: 100%;
}
/*push page contents below the nav bar*/
.top-spacer {
  padding-top: 20px;
}
.nav-line {
  display: inline-block;
  border-top: 1px solid #6600FF;
  width: 85%;
  height: 29px;
}
.custom-underline-container {
  display: inline;
  position: relative;
  height: 30px;
}
.custom-underline-container:hover .custom-underline {
  border-bottom: 1px solid #6600FF;
  cursor: pointer;
}
.custom-underline {
  position: absolute;
  height: 2px;
  bottom: -5px;
  width: 100%;
  left: -2px;
}
a {
  text-decoration: none !important;
  color: gray;
}
a:hover,
a:focus {
  color: #6600FF !important;
}
a:visited {
  color: gray;
}
/*
a .main-header {
   display: block;
   padding: 50px;
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #6600FF;
   font: bold 7em Arial, sans-serif;
   position: relative;
}

a .main-header:before, a .main-header:after {
   content: attr(title);
   padding: 50px;
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: red;   
   position: absolute;
}

a .main-header:before { top: 1px; left: 1px; }
a .main-header:after  { top: 2px; left: 2px; }
*/
a .main-header {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6600FF;
}
a .main-header:hover,
a .main-header:focus,
a .main-header:visited {
  -webkit-text-stroke-width: 0px;
  color: #6600FF;
}
.container-overlay p,
.container-overlay div {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 15px;
  color: #404040;
  line-height: 26px;
}
a .nav-links {
  font-weight: 400;
  color: #6600FF;
  font-size: 12px;
  letter-spacing: 3px;
  text-decoration: none;
}
a .nav-links:hover,
a .nav-links:focus,
a .nav-links:visited {
  -webkit-text-stroke-width: 0px;
  color: #6600FF;
  text-decoration: none;
}
.container-overlay textarea {
  border: 1px solid #CCCCFF;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  color: #404040;
  letter-spacing: 2px;
  background-color: #fff;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.memberform-field {
  border: 1px solid #CCCCFF;
  display: block;
  height: 44px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #404040;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.container-overlay textarea {
  width: 100%;
}
.input-wrapper {
  height: 32px;
}
::-webkit-input-placeholder {
  color: #909090;
  font-weight: 300;
  letter-spacing: 1px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
}
:-ms-input-placeholder {
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
}
.section-intro p {
  padding-bottom: 10px;
}
.section-intro {
  margin-bottom: -5px;
}
/* Info pop-up styling start */
.few-info {
  max-width: 300px;
  padding: 15px 0px 7px 12px;
}
.few-info.few-thanks {
  padding: 20px 10px 40px 20px;
}
.few-info div {
  color: black;
  font-size: 13px !important;
  line-height: 20px;
  letter-spacing: 1px;
}
.few-info div.member-name {
  font-weight: 700;
  font-size: 18px !important;
  padding-bottom: 3px;
}
.member-company-link {
  letter-spacing: 1px;
  font-size: 14px !important;
  color: #6600FF;
  font-weight: 400;
}
.member-address {
  padding-bottom: 20px;
}
.few-thanks-header {
  padding-bottom: 20px;
}
.few-thanks-header div {
  color: black;
  text-align: center;
  width: 100%;
  font-size: 15px !important;
}
.thanks-line {
  width: 100% !important;
  border-bottom: 1px solid lightgray;
  height: 0px;
  padding-top: 10px;
}
.tweet-btn-container {
  width: 100%;
  text-align: center;
}
.tweet-btn-container a {
  color: red;
  letter-spacing: 1px;
  font-size: 15px !important;
  line-height: 29px;
}
.few-info div.joined-timestamp {
  float: left;
  font-size: 13px !important;
  color: lightgray;
  margin-bottom: 10px;
}
.company-description {
  margin-bottom: 16px;
}
/* Info pop-up styling end */
/* Events start */
.event-divider {
  padding-bottom: 65px;
}
.event-row {
  margin-bottom: 25px;
}
div.event-comingup {
  margin-top: 20px;
  margin-bottom: -17px;
  color: #F62817;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}
/* Events end */
/* Participate start */
form {
  padding-left: 0px;
  padding-right: 0px;
}
input.checkbox-input {
  height: 18px;
}
.few-checkbox {
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
}
.participate-form.errors input.ng-invalid,
.participate-form.errors input.place.error {
  border: 1px solid red;
}
.server-info-error div {
  text-align: center;
  color: red;
}
.save-btn {
  height: 52px;
  width: 100%;
  color: white;
  background-color: #6600FF;
  margin-top: 19px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 17px;
  border: 1px solid #6600FF;
  border-radius: 0px !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.save-btn:hover {
  border: 1px solid #6600FF;
  background-color: #F0F0FF;
  color: #6600FF;
}
.save-btn:focus {
  border: 1px solid #6600FF;
  background-color: #6600FF;
  color: white;
}
/* Participate end */
/* Statistics start */
.center-column {
  width: 226px;
}
.left-column {
  width: 200px;
}
.right-column {
  width: 294px;
}
.animate-show {
  opacity: 1;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: block!important;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}
.animate-show.ng-hide {
  opacity: 0;
}
.accordion-body {
  max-height: 100%;
  height: 100%;
  -webkit-transition: 3s linear all;
  transition: 3s linear all;
}
.accordion-body.ng-hide-add,
.accordion-body.ng-hide-remove {
  display: block !important;
  max-height: 0px;
}
.accordion-body.ng-hide-remove.ng-hide-remove-active {
  max-height: 100%;
}
.accordion-body.ng-hide-add {
  max-height: 100%;
}
.accordion-body.ng-hide-add.ng-hide-add-active {
  max-height: 0;
}
.container {
  position: relative;
}
.item {
  margin-top: 5px;
  padding: 15px;
  background-color: #34ac54;
  border: 1px solid black;
  position: relative;
}
@-webkit-keyframes slide_down {
  0% {
    margin-top: -68px;
    opacity: 0;
    z-index: -100;
  }
  99% {
    z-index: -100;
  }
  100% {
    margin-top: 5px;
    opacity: 1;
    z-index: 0;
  }
}
.animation-slide-down.ng-enter {
  -webkit-animation: slide_down 1s ease-in;
  -moz-animation: slide_down 1s ease-in;
  -ms-animation: slide_down 1s ease-in;
  -o-animation: slide_down 1s ease-in;
  animation: slide_down 1s ease-in;
}
/* Statistics end */
/* Principals start */
.principal-container {
  padding-bottom: 40px;
  width: 240px;
}
.principal-name a {
  font-weight: 700 !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  margin-top: -7px;
  margin-bottom: -4px;
  margin-left: 5px;
  line-height: 27px !important;
  color: #404040;
}
.principal-city {
  font-weight: 400 !important;
  font-size: 13px !important;
  letter-spacing: 1px;
  margin-left: 5px;
  line-height: 7px !important;
}
.principal-text {
  cursor: pointer;
  margin-top: -5px;
  margin-bottom: 18px;
}
.principal-text-description {
  max-width: 500px;
}
.stat-list {
  line-height: 40px;
}
.stat-list div {
  color: #404040;
  font-weight: 400;
}
.stat-list a div:hover {
  color: #6600FF;
}
.stat-list a div:visited {
  color: #404040;
}
.stat-name-space {
  margin-left: 5px;
}
div.stat-header {
  font-weight: 700;
  line-height: 22px;
  color: black;
  letter-spacing: 1px;
  font-size: 17px;
  width: 294px;
  min-height: 29px;
}
.stat-column {
  width: 258px;
}
.participant-timestamp {
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 12px;
  margin-top: -6px;
  letter-spacing: 1px;
  color: lightgray;
}
/* Principals end */
/* Blog start */
.blog-thumbnail {
  position: relative;
}
.blog-thumbnail a img {
  border: none !important;
  padding: 0 !important;
  border-radius: 0px !important;
}
.blog-thumbnail-row li {
  margin-bottom: 25px;
}
.blog-thumbnail-inner {
  max-width: 95%;
  min-width: 210px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.blog-thumbnail-inner:hover .background-overlay {
  opacity: 0.7;
}
.blog-thumbnail-inner:hover .text-overlay {
  opacity: 1;
  transition-delay: 0.2s;
}
.background-overlay,
.text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.text-overlay {
  transition-delay: 0s;
}
.background-overlay {
  background-color: #6600FF;
}
.text-overlay p.quote {
  color: white !important;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 300;
  line-height: 19px;
  font-size: 13px;
}
.text-overlay-inner {
  max-width: 80%;
  padding-top: 8%;
}
.text-overlay.always-show {
  opacity: 1;
}
.caption-overlay {
  position: absolute;
  bottom: 0;
  opacity: 1;
  padding: 0 35px 18px 18px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  transition-delay: 0.2s;
}
div.caption-title {
  font-weight: 500;
  width: 100%;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  line-height: 21px;
  margin-bottom: 5px;
  min-height: 46px;
}
div.author,
div.author a {
  font-weight: 300;
  width: 100%;
  letter-spacing: 2px;
  font-size: 11px;
  color: white;
  line-height: 17px;
  font-style: italic;
  min-height: 17px;
}
.blog-thumbnail-inner:hover .caption-overlay {
  opacity: 0;
  transition-delay: 0s;
}
p.continue-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
}
.blog-contact {
  background-color: #6600FF;
  padding: 0;
}
.text-overlay-inner.blog-inner {
  max-width: 80%;
  padding-top: 8%;
}
/* Blog end */
/* Mobile support */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px) {
  .page-container {
    top: 0px;
  }
  .page-container.expanded {
    top: 0px;
  }
  .page-container.is-index.expanded {
    top: 416px;
  }
  .view-bottom-spacer {
    min-height: 550px;
  }
  .nav-line {
    width: 100%;
  }
  .navbar-nav {
    margin: 0px;
  }
  .center-column,
  .right-column {
    margin-top: 25px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .principal-container {
    float: left;
  }
  .principal-container.left {
    float: right;
  }
  .view-bottom-spacer {
    min-height: 550px;
  }
  .center-column {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  .left-column {
    float: right !important;
  }
  .right-column {
    float: left;
  }
  .text-overlay p.quote {
    line-height: 21px;
    font-size: 16px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .view-bottom-spacer {
    min-height: 50px;
  }
  .text-overlay p.quote {
    line-height: 14px;
    font-size: 11px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-overlay p.quote {
    line-height: 16px;
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  .text-overlay p.quote {
    line-height: 19px;
    font-size: 14px;
  }
}
