<div class="col-md-8 col-md-offset-2 top-spacer">
    <h2>Blog</h2>
        <div class="col-md-6 col-md-offset-3">            
            <div class="subhead-line center-block"></div>
        </div>
        <div class="row">
            <div class="col-md-12 section-intro">
            </div>
        </div>
               
               <ul class="list-unstyled blog-thumbnail-row">
                   
                   <li class="col-md-4 blog-thumbnail">
                       <a href="https://medium.com/female-entrepreneurs-of-the-world/2c57c4d8eb18" target="_blank">
                           <div class="blog-thumbnail-inner">
                               <div class="background-overlay"></div>
                               <div class="text-overlay">
                                   <div class="text-overlay-inner">
                                        <p class="quote">I stared at those 4 words and realized that I could not stand before a room of people and brag for 3 minutes. And it was a horrible and humbling realization.
                                        </p>
                                        <p class="continue-text">Continue reading &rarr;</p>
                                    </div>
                               </div>
                               <div class="caption-overlay">
                                    <div class="caption-title">
                                        Brag Pitch III: Oh Sh*t, This Was A Terrible Idea
                                    </div>
                                    <div class="author">
                                        Andrea Bouch
                                    </div>
                                    <div class="author">
                                        Co-founder, The IQ Collective
                                    </div>
                               </div>                           
                                <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*wMPvBKjXhH95O63yDX3S2Q.jpeg" 
                                    class="thumbnail img-responsive">
                            </div>    
                        </a>
                    </li>
                    
                    <li class="col-md-4 blog-thumbnail">
                        <a href="https://medium.com/female-entrepreneurs-of-the-world/f09f80a8cdf1" target="_blank">                        
                            <div class="blog-thumbnail-inner">
                                <div class="background-overlay"></div>
                                <div class="text-overlay">
                                    <div class="text-overlay-inner">
                                         <p class="quote">Brag pitching is an amazing way to push beyond your comfort zone, get to know people, and improve on key skills like public speaking.
                                         </p>
                                         <p class="continue-text">Continue reading &rarr;</p>
                                     </div>
                                </div>
                                <div class="caption-overlay">
                                     <div class="caption-title">
                                         Brag Pitch II: Brag Pitching Rules Of Engagement
                                     </div>
                                     <div class="author">
                                         Andrea Bouch
                                     </div>
                                     <div class="author">
                                         Co-founder, The IQ Collective
                                     </div>
                                </div>                           
                                    <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*GC11qBUA7h2iEMZdZCwl0w.jpeg" 
                                        class="thumbnail img-responsive">
                             </div>
                        </a>
                     </li>
                     
                     <li class="col-md-4 blog-thumbnail">
                         <a href="https://medium.com/female-entrepreneurs-of-the-world/253e6d7bd10a" target="_blank">
                             <div class="blog-thumbnail-inner">
                                 <div class="background-overlay"></div>
                                 <div class="text-overlay">
                                     <div class="text-overlay-inner">
                                          <p class="quote">It seemed like a simple task: to stand before a group of my peers and talk about what I’m good at and what I’m proud of. For 3 minutes. No more, no less, and definitely no slide deck. Just me and my accomplishments.
                                          </p>
                                          <p class="continue-text">Continue reading &rarr;</p>
                                      </div>
                                 </div>
                                 <div class="caption-overlay">
                                      <div class="caption-title">
                                          Brag Pitch I: Why I’m Glad I Was Forced To Brag
                                      </div>
                                      <div class="author">
                                          Jennifer Blumberg
                                      </div>
                                      <div class="author">
                                          Co-founder, Kamego.net
                                      </div>
                                 </div>                           
                                      <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*Wd9jDYp9rfEaqVA7ZsVdSA.jpeg" 
                                          class="thumbnail img-responsive">
                              </div>
                            </a>
                      </li>
                      
                      <li class="col-md-4 blog-thumbnail">
                          <a href="https://medium.com/female-entrepreneurs-of-the-world/e94dc4f508f9" target="_blank">
                              <div class="blog-thumbnail-inner">
                                  <div class="background-overlay"></div>
                                  <div class="text-overlay">
                                      <div class="text-overlay-inner">
                                           <p class="quote">Many of life’s decisions involve a tug-of-war between our personal and professional priorities.
                                           </p>
                                           <p class="continue-text">Continue reading &rarr;</p>
                                       </div>
                                  </div>
                                  <div class="caption-overlay">
                                       <div class="caption-title">
                                           What Makes Life Worth Living?
                                       </div>
                                       <div class="author">
                                           Belinda Liu
                                       </div>
                                       <div class="author">
                                           Co-founder &#38; CEO, TechUrself
                                       </div>
                                  </div>                           
                                       <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/desat/multiply/yellow/overlay/yellow/gradv/29/81/55/1*yFAA3WGTod0GdYgtADLrhw.jpeg" 
                                           class="thumbnail img-responsive">
                               </div>
                             </a>
                       </li>
                       
                       <li class="col-md-4 blog-thumbnail">
                           <a href="https://medium.com/female-entrepreneurs-of-the-world/62839de5663d" target="_blank">
                               <div class="blog-thumbnail-inner">
                                   <div class="background-overlay"></div>
                                   <div class="text-overlay">
                                       <div class="text-overlay-inner">
                                            <p class="quote">I am fearful of reaching out and talking about my business to investors but I obviously can’t tell anyone that because that makes me sound like a chicken. It’s an irrational, internalized fear.
                                            </p>
                                            <p class="continue-text">Continue reading &rarr;</p>
                                        </div>
                                   </div>
                                   <div class="caption-overlay">
                                        <div class="caption-title">
                                            Fears Of The Virgin Entrepreneur
                                        </div>
                                        <div class="author">
                                        </div>
                                        <div class="author">
                                            Anonymous
                                        </div>
                                   </div>                           
                                        <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*CVhAypVEghMiG9SbsG7xHA.jpeg" 
                                            class="thumbnail img-responsive">
                                </div>
                              </a>
                        </li>
                      
                        <li class="col-md-4 blog-thumbnail">
                            <a href="https://medium.com/female-entrepreneurs-of-the-world/9bbec2b8f22a" target="_blank">
                                <div class="blog-thumbnail-inner">
                                    <div class="background-overlay"></div>
                                    <div class="text-overlay">
                                        <div class="text-overlay-inner">
                                             <p class="quote">A unicycle, a unicorn and red nose. With these 3 things you get children and adults laughing, and what’s better than making people laugh?
                                             </p>
                                             <p class="continue-text">Continue reading &rarr;</p>
                                         </div>
                                    </div>
                                    <div class="caption-overlay">
                                         <div class="caption-title">
                                             What’s In My Bag?
                                         </div>
                                         <div class="author">
                                             Hannes Hapke
                                         </div>
                                         <div class="author">
                                             Co-founder, Renooble
                                         </div>
                                    </div>                           
                                         <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*LFoH1DzIj4E4F7-vW49qvw.jpeg" 
                                             class="thumbnail img-responsive">
                                 </div>
                               </a>
                         </li>
                         
                         <li class="col-md-4 blog-thumbnail">
                             <a href="https://medium.com/female-entrepreneurs-of-the-world/69363f69655b" target="_blank">
                                 <div class="blog-thumbnail-inner">
                                     <div class="background-overlay"></div>
                                     <div class="text-overlay">
                                         <div class="text-overlay-inner">
                                              <p class="quote">I should have stood up for the strategy and vision I had for my business unit and employees. Allowing myself to fall into the pressure of pleasing everybody contributed to the failure of the whole company.
                                              </p>
                                              <p class="continue-text">Continue reading &rarr;</p>
                                          </div>
                                     </div>
                                     <div class="caption-overlay">
                                          <div class="caption-title">
                                              I Failed Big Because I Tried To Please Everybody
                                          </div>
                                          <div class="author">
                                              Sara Maria Spiller
                                          </div>
                                          <div class="author">
                                              Co-founder, Manetch
                                          </div>
                                     </div>                           
                                          <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*M3RTNHUhJ8QgOjRuEkYvjw.jpeg" 
                                              class="thumbnail img-responsive">
                                  </div>
                                </a>
                          </li>

                          <li class="col-md-4 blog-thumbnail">
                               <a href="https://medium.com/female-entrepreneurs-of-the-world/22ead8fe840d" target="_blank">
                                   <div class="blog-thumbnail-inner">
                                       <div class="background-overlay"></div>
                                       <div class="text-overlay">
                                           <div class="text-overlay-inner">
                                                <p class="quote">Founding a start-up as couple might sound ideal. It’s true that having a significant other as a co-founder brings a lot of advantages, including mutual support and strong trust, but it can also be challenging.
                                                </p>
                                                <p class="continue-text">Continue reading &rarr;</p>
                                            </div>
                                       </div>
                                       <div class="caption-overlay">
                                            <div class="caption-title">
                                                5 Tips For Surviving Startup Life As A Couple
                                            </div>
                                            <div class="author">
                                                Catalina Jaramillo
                                            </div>
                                            <div class="author">
                                                Co-founder, Escapar
                                            </div>
                                       </div>                           
                                            <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*rQK0mTCvS4Z68oLvRefp5w.jpeg" 
                                                class="thumbnail img-responsive">
                                    </div>
                                  </a>
                            </li>
                            
                            <li class="col-md-4 blog-thumbnail">
                                 <a href="https://medium.com/p/e1fecbeea2b9" target="_blank">
                                     <div class="blog-thumbnail-inner">
                                         <div class="background-overlay"></div>
                                         <div class="text-overlay">
                                             <div class="text-overlay-inner">
                                                  <p class="quote">If I had a client call 2 years ago, I will unearth exactly what was discussed from my stack of checkered moleskines before following up.
                                                  </p>
                                                  <p class="continue-text">Continue reading &rarr;</p>
                                              </div>
                                         </div>
                                         <div class="caption-overlay">
                                              <div class="caption-title">
                                                  What’s In My Bag?
                                              </div>
                                              <div class="author">
                                                  Allison Carmen
                                              </div>
                                              <div class="author">
                                                  Founder &#38; CEO, Material Mix
                                              </div>
                                         </div>                           
                                              <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*Mvuucj8XAp7iF5u6T1IHvQ.jpeg" 
                                                  class="thumbnail img-responsive">
                                      </div>
                                    </a>
                              </li>
                            
                            
                              <li class="col-md-4 blog-thumbnail">
                                   <a href="https://medium.com/female-entrepreneurs-of-the-world/546f4320070f" target="_blank">
                                       <div class="blog-thumbnail-inner">
                                           <div class="background-overlay"></div>
                                           <div class="text-overlay">
                                               <div class="text-overlay-inner">
                                                    <p class="quote">I worked with my “significant other” for 5 years on startups. He was a dreamy programmer who wanted to change the world, and I was a geeky engineer who loved inventing.
                                                    </p>
                                                    <p class="continue-text">Continue reading &rarr;</p>
                                                </div>
                                           </div>
                                           <div class="caption-overlay">
                                                <div class="caption-title">
                                                    Cofounders In Love
                                                </div>
                                                <div class="author">
                                                    Ellen Dudley
                                                </div>
                                                <div class="author">
                                                    Co-founder, Peoplehunt
                                                </div>
                                           </div>                           
                                                <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/desat/multiply/teal/overlay/teal/gradv/29/81/55/1*92FbYxaGDX6XHDhsGKYWXA.jpeg" 
                                                    class="thumbnail img-responsive">
                                        </div>
                                      </a>
                                </li>
                                
                                <li class="col-md-4 blog-thumbnail">
                                     <a href="https://medium.com/female-entrepreneurs-of-the-world/23fbf2cfda62" target="_blank">
                                         <div class="blog-thumbnail-inner">
                                             <div class="background-overlay"></div>
                                             <div class="text-overlay">
                                                 <div class="text-overlay-inner">
                                                      <p class="quote">I’m neither a victim, nor a battered woman. I’ve never been overlooked for a job due to my gender (or at least not that I know of). So really, why should I care about gender equality?
                                                      </p>
                                                      <p class="continue-text">Continue reading &rarr;</p>
                                                  </div>
                                             </div>
                                             <div class="caption-overlay">
                                                  <div class="caption-title">
                                                      The Problem With Magical Thinking 
                                                  </div>
                                                  <div class="author">
                                                      Sarah Hébert
                                                  </div>
                                                  <div class="author">
                                                      Head of Content &#38; Curation, Shutter
                                                  </div>
                                             </div>                           
                                                  <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*v39Q2oPchpjUXd3p7qa4WA.jpeg" 
                                                      class="thumbnail img-responsive">
                                          </div>
                                        </a>
                                  </li>
                                  
                                  <li class="col-md-4 blog-thumbnail">
                                       <a href="https://medium.com/female-entrepreneurs-of-the-world/ee1dbe98910f" target="_blank">
                                           <div class="blog-thumbnail-inner">
                                               <div class="background-overlay"></div>
                                               <div class="text-overlay">
                                                   <div class="text-overlay-inner">
                                                        <p class="quote">As a woman in business, the topic of confidence tends to be a sensitive one. Some believe you need more of it, or that you need to “fake it ‘till you make it.” I tend to agree.
                                                        </p>
                                                        <p class="continue-text">Continue reading &rarr;</p>
                                                    </div>
                                               </div>
                                               <div class="caption-overlay">
                                                    <div class="caption-title">
                                                        Building The Mindset For Start Up Success
                                                    </div>
                                                    <div class="author">
                                                        Danielle Carruthers
                                                    </div>
                                                    <div class="author">
                                                        Co-founder &#38; CEO, theSedge.org
                                                    </div>
                                               </div>                           
                                                    <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*-BctlGBVpMa1YCxAvSxwfw.jpeg" 
                                                        class="thumbnail img-responsive">
                                            </div>
                                          </a>
                                    </li>
                                    
                                    <li class="col-md-4 blog-thumbnail">
                                         <a href="https://medium.com/p/3e18e0261fdc" target="_blank">
                                             <div class="blog-thumbnail-inner">
                                                 <div class="background-overlay"></div>
                                                 <div class="text-overlay">
                                                     <div class="text-overlay-inner">
                                                          <p class="quote">The first TEDxSantiagoWomen took place at the Main Auditorium of the Law Faculty at Universidad de Chile in December 2013.
                                                          </p>
                                                          <p class="continue-text">Continue reading &rarr;</p>
                                                      </div>
                                                 </div>
                                                 <div class="caption-overlay">
                                                      <div class="caption-title">
                                                          TEDxSantiagoWomen
                                                      </div>
                                                      <div class="author">
                                                          Jen Lee
                                                      </div>
                                                      <div class="author">
                                                          Founder, FEW
                                                      </div>
                                                 </div>                           
                                                      <img src="https://d262ilb51hltx0.cloudfront.net/fit/t/1800/1440/gradv/29/81/55/1*n3zzmxsJq-hmNG1CUuBv9w.jpeg" 
                                                          class="thumbnail img-responsive">
                                              </div>
                                            </a>
                                      </li>
                                    
                                      <li class="col-md-4 blog-thumbnail">
                                           <a href="https://medium.com/female-entrepreneurs-of-the-world/eb2a91ab322e" target="_blank">
                                               <div class="blog-thumbnail-inner">
                                                   <div class="background-overlay"></div>
                                                   <div class="text-overlay">
                                                       <div class="text-overlay-inner">
                                                            <p class="quote">Though few and far between, you’ve found yourself amongst an emerging group of female founders.
                                                            </p>
                                                            <p class="continue-text">Continue reading &rarr;</p>
                                                        </div>
                                                   </div>
                                                   <div class="caption-overlay">
                                                        <div class="caption-title">
                                                            Tech Companies Started By Women Is A Scant 3%
                                                        </div>
                                                        <div class="author">
                                                            Jen Lee
                                                        </div>
                                                        <div class="author">
                                                            Founder, FEW
                                                        </div>
                                                   </div>                           
                                                        <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/1800/1440/gradv/29/81/60/darken/25/1*Ll-C9wItbZAkgwRoqGyjCA.jpeg" 
                                                            class="thumbnail img-responsive">
                                                </div>
                                              </a>
                                        </li>
                                        
                                        <li class="col-md-4 blog-thumbnail">
                                             <a href="mailto:holafew@gmail.com" target="_blank">
                                                 <div class="blog-thumbnail-inner">
                                                     <div class="background-overlay"></div>
                                                     <div class="text-overlay always-show">
                                                         <div class="text-overlay-inner">
                                                              <p class="quote">If you're interested in submitting a written piece to our growing collection, we would love to be in touch! Let us know at holafew@gmail.com.
                                                              </p>
                                                          </div>
                                                     </div>                       
                                                          <div class="blog-contact"></div>
                                                  </div>
                                                </a>
                                          </li>
                              

                 </ul>
                 


        <div class="row">
            <div class="col-md-12 view-bottom-spacer">        
            </div>
        </div>
</div>