<div class="col-md-4 col-md-offset-4 top-spacer">
    <h2>Principals</h2>
        <div class="col-md-12">
            <div class="subhead-line center-block"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="media principal-container left">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/005/009/269/3a3e101.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/005/009/269/3a3e101.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://www.linkedin.com/in/andreabouch" target="_blank">Andrea Bouch</a>
                        </p>
                        <p class="principal-city">San Francisco, CA</p>
                        <p class="principal-city">United States</p>
                     </div>
                </div>
            </div>            

            <div class="col-md-6">
                <div class="media principal-container right">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/24f/0e0/2720973.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/24f/0e0/2720973.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://www.linkedin.com/in/allisoncarmen" target="_blank">Allison Carmen</a>
                        </p>
                        <p class="principal-city">Saint Louis, MS</p>
                        <p class="principal-city">United States</p>
                     </div>
                </div>
            </div>            
        </div>    
        
        <div class="row">
            <div class="col-md-6">
                <div class="media principal-container left">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/005/039/308/0a83010.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/005/039/308/0a83010.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://ca.linkedin.com/pub/danielle-carruthers/1b/264/845" target="_blank">Danielle Carruthers</a>
                        </p>
                        <p class="principal-city">Calgary</p>
                        <p class="principal-city">Canada</p>
                     </div>
                </div>
            </div>            

            <div class="col-md-6">
                <div class="media principal-container right">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/1a9/215/32d034e.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/1a9/215/32d034e.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://cl.linkedin.com/in/komaldadlani" target="_blank">Komal Dadlani</a>
                        </p>
                        <p class="principal-city">Santiago</p>
                        <p class="principal-city">Chile</p>
                     </div>
                </div>
            </div>            
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="media principal-container left">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/005/01e/193/395afa1.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/005/01e/193/395afa1.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://ca.linkedin.com/pub/sarah-h%C3%A9bert/55/868/338" target="_blank">Sarah Hébert</a>
                        </p>
                        <p class="principal-city">San Pedro La Laguna</p>
                        <p class="principal-city">Guatemala</p>
                     </div>
                </div>
            </div>            
        
            <div class="col-md-6">
                <div class="media principal-container right">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/8/005/039/349/140ed97.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/8/005/039/349/140ed97.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://www.linkedin.com/in/leejen" target="_blank">Jen Lee (Founder)</a>
                        </p>
                        <p class="principal-city">San Francisco, CA</p>
                        <p class="principal-city">United States</p>
                     </div>
                </div>
            </div>            
        </div>
        
        
        <div class="row">                  
            <div class="col-md-6">
                <div class="media principal-container left">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/1/000/067/331/205e774.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/1/000/067/331/205e774.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://ve.linkedin.com/pub/lissette-rojas/0/825/536" target="_blank">Lissette Rojas</a>
                        </p>
                        <p class="principal-city">Caracas</p>
                        <p class="principal-city">Venezuela</p>
                     </div>
                </div>
            </div>            
        
            <div class="col-md-6">
                <div class="media principal-container right">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/005/052/254/1a609fc.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/005/052/254/1a609fc.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://www.linkedin.com/pub/aparna-sud/5a/962/875" target="_blank">Aparna Sud</a>
                        </p>
                        <p class="principal-city">Boston, MA</p>
                        <p class="principal-city">United States</p>
                     </div>
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col-md-6">
                <div class="media principal-container left">
                    <a class="pull-left" href="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/000/1e0/214/0255548.jpg">
                        <img class="media-object" 
                            src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/000/1e0/214/0255548.jpg" 
                            style="width: 70px; height: 70px;">
                    </a>
                    <div class="media-body">
                        <p class="media-heading principal-name">
                            <a href="http://cl.linkedin.com/pub/andre%C3%ADna-zulueta/32/622/140/en" target="_blank">Andreina Zulueta</a>
                        </p>
                        <p class="principal-city">Santiago</p>
                        <p class="principal-city">Chile</p>
                     </div>
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-md-12">            
                <h5 class="principal-text"><a ng-click="showDescription=!showDescription">Interested in becoming a Principal of FEW?</a></h5>
                <div class="animate-show"
                    ng-show="showDescription">
                    <p>Becoming a principal is a commitment to <a ng-href="/mission">FEW’s mission</a>, and a larger opportunity to bring people together from all walks of life to discuss issues surrounding gender equality and entrepreneurship. We ask, on a yearly basis, that principals organize one event, contribute an original thought piece to our blog, and share relevant news and updates with the world through your own social networks.</p>

                    <p>If you’re interested in becoming a principal for F-E-W, please <a href="mailto:holafew@gmail.com" target="_blank">email</a> us. We look forward to hearing from you!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 view-bottom-spacer">        
            </div>
        </div>
</div>